.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}

#projects > h1, #projects > h5 {
    text-align: center;
    color: var(--background-color-alt);
}

.portfolio__container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    transition: var(--transition);
    border-radius: 1.5rem;
    width: 400px;
    text-align: center;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 350px;
    height: 250px;
    margin-left: .45rem;
}

.btn {
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .items {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 1024px) {
    .items {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}
