#skills {
    background: var(--color-white);
}

#skills > h1 {
    text-align: center;
    color: var(--background-color-alt);
}

#skills > h5 {
    color: var(--background-color-alt);
    margin-bottom: 1rem;
}


.framework__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.framework__container > div {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    transition: var(--transition);
}

.framework__container > div:hover {
    background: var(--color-bg-2);
    cursor: default;
}

.framework__container > div > h3 {
    text-align: center;
    font-size: rem;
    margin-bottom: 1rem;
}



.tools__card {
    display: flex;
    gap: 1rem;
}

.tools__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}


@media screen and (max-width: 1024px) {
    .framework__container {
        grid-template-columns: 1fr;
    }
    .framework__container > div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }
    .tools__content {
        padding: 1rem;
    }
}
.skill_icon {
    width: 60px;
    height: 60px;
    background: white;
    padding: 10px;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .framework__container {
        gap: 1rem;
    }
    .framework__container > div {
        width: 100%;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
    .tools__content {
        padding: 1rem;
    }
}