.bubbles__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.bubble__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2;
}

.bubble__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bubble__card:hover {
    background: transparent;
    border: var(--color-primary-variant);
    cursor: default;
}

.bubble__icon {
    color: var(--color-primary);
    font-size: 2rem;
    width: 80px;
    margin-bottom: 1rem;
    height: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.bubble__card h5 {
    font-size: .95rem;
}

.bubble__card small {
    font-size: .8rem;
    color: var(--color-light);
}

@media screen and (max-width: 1024px) {
    .bubble__cards {
        grid-template-columns: 1fr;
    }
    .bubble__cards > div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }
}
