#experience {
    background: rgb(5, 176, 214);
    
}
.time__icon {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.tek__icon {
    max-width: 100%;
    margin-top: 25%;
    max-height: 100%;
}