#experience {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: var(--background-color-alt);
}

#experience > h5 {
    color: white;
}
.time__icon {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.tek__icon {
    max-width: 100%;
    margin-top: 25%;
    max-height: 100%;
}

.title {
    color: white;
}

